@import "../sass/Mixins.scss";

.SelectCategory {
  width: 100%;
  text-align: center;
  transition: all 0.2s;
  margin: 20px auto;

  &__searchContanier {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__search-box {
    background-color: white;
    font-size: 15px;
    border: 1px solid rgb(184, 179, 180);
    border-radius: 5px;
    color: #999;
    height: 50px;
    width: 700px;
    padding-left: 25px;
    text-align: center;

    @include screenSize(b-4) {
      width: 500px;
      height: 35.71px;
      font-size: 10px;
    }
    @include screenSize(b-5) {
      width: 300px;
      height: 21.42px;
      font-size: 6.42px;
    }

    &:focus {
      outline: none;
      outline-width: 0;
    }
  }
}
